// Spacing blocks
$spacing-micro = 0.5rem
$spacing-small = 1rem
$spacing-base = 2rem
$spacing-medium = 3rem
$spacing-large = 4rem
$spacing-jumbo = 8rem

// Screen sizes
$small-screen = 37.5em
$medium-screen = 48em
$large-screen = 70em

// Headings
$h1-fontsize = 2.5
$h2-fontsize = 2
$h3-fontsize = 1.5
$h4-fontsize = 1.125
$h5-fontsize = 1
$h6-fontsize = 1

// Borders
$border = 1px solid $black
$border-hover = 2px solid $regular-red
$border-radius = 10px

// Typography
$good-dog = 'GoodDog', $sans-serif
$chalkboard = 'Chalkboard', $sans-serif
$sans-serif = Arial, 'Helvetica Neue', Helvetica, sans-serif
