.bike
  margin-bottom: $spacing-small
  width: 100%

  &-header
    align-items: center
    display: flex

  &__container
    display: flex
    flex-direction: column
    height: 53vh
    margin-top: $spacing-small + $spacing-micro
    overflow-y: auto
    width: 90%

  &-confirm
    margin-right: $spacing-micro

    &__btn
      margin-right: $spacing-micro
      padding: 0

      &:hover
        border-bottom: $border-hover

  &-date
    color: $regular-red
    white-space: nowrap

  &-description
    color: $regular-red
    flex-grow: 1
    margin: 0 $spacing-micro
    overflow: hidden
    white-space: nowrap

  &-none
    color: $regular-red
    margin-bottom: $spacing-small
    text-align: center

  &-add
    align-self: flex-end
    height: 1.5rem
    padding: 0
    width: 1.5rem

    img
      height: 1.5rem
      width: 1.5rem

  &-btn-edit
    height: 1.5rem
    margin-right: $spacing-micro
    padding: 0
    width: 1.5rem

    img
      height: 1.5rem
      width: 1.5rem

  &-remove
    height: 1.5rem
    padding: 0
    width: 1.5rem

    img
      height: 1.5rem
      width: 1.5rem

  &-status
    &__indicator
      background-color: $regular-red
      border-radius: 50%
      height: 0.9rem
      margin-right: $spacing-micro
      width: 0.9rem

    &__success
      background-color: $success-green
