.field
  display: flex
  margin-bottom: $spacing-small

  &-img
    width: 30px

  &-container
    display: flex
    flex-direction: column

.input
  &-primary
    border-bottom: 2px solid $regular-red
    color: $regular-red
    font-size: 1.5rem
    padding: $spacing-small

    &:focus
      outline: none

    +placeholder()
      color: $placeholder-red
      transition: all 0.3s ease

  &-search
    border-bottom: 2px solid $regular-red
    display: flex
    margin: $spacing-small 0

    input
      color: $regular-red
      flex-grow: 1
      font-size: 1.2rem

      +placeholder()
        color: $placeholder-red
        transition: all 0.3s ease

    img
      margin-right: $spacing-small
      width: 20px

  &-user-item
    color: $regular-red

    +placeholder()
      color: $placeholder-red
      transition: all 0.3s ease

.btn
  &-forward
    background: transparent
    margin: 0
    padding: 0
    text-decoration: none
    transition: all 0.3s ease

  &-action
    background: $light-yellow
    border: $border
    border-radius: $border-radius
    color: $black
    font-size: 1.2rem
    padding: $spacing-micro
    text-decoration: none
    transition: all 0.3s ease
    width: 80px

    &:hover
      background: $action-yellow
