.header
  color: $regular-red
  font-family: $good-dog
  margin: 0 auto
  text-align: center
  width: 90%

  &-city
    font-size: 1.5rem
    line-height: 1
    padding: 0

  &-logo
    float: left

    img
      height: 100px
      width: 100px

  &-subtitle
    color: $dark-green
    font-family: $chalkboard
    font-size: 1.5rem
    text-align: center

  &-title
    font-size: 4rem
    line-height: 1
    text-align: center

  &-welcome
    font-size: 1.5rem
    line-height: 1
    padding: 0
