.header
  color: $regular-red
  display: flex
  font-family: $good-dog
  justify-content: space-around
  margin: 0 auto
  width: 90%

  &-city
    font-size: 1.5rem
    line-height: 1
    padding: 0

  &-logo
    height: 150px
    width: 150px

  &-content
    align-items: center
    display: flex
    flex-basis: 70%
    flex-direction: column

  &-subtitle
    color: $dark-green
    font-family: $chalkboard
    font-size: 1.5rem

  &-title
    font-size: 4rem
    line-height: 1

  &-welcome
    font-size: 1.5rem
    line-height: 1
    padding: 0
