.sign-in
  margin-right: $spacing-medium
  width: 35%

  &__container
    display: flex
    margin: 0 auto
    width: 95%

  &-options
    align-items: center
    display: flex
    justify-content: space-between
    margin-top: $spacing-small

  &-new
    color: $regular-red
    font-size: 2rem
    height: auto
    line-height: 1
    padding-bottom: $spacing-micro
    text-decoration: none

    &:hover
      border-bottom: $border-hover

  .btn-forward
    img
      width: 120px
