.sign-in
  width: 50%

  &-options
    align-items: center
    display: flex
    justify-content: space-between
    margin-top: $spacing-small

  &-new
    color: $regular-red
    font-size: 2.5rem
    height: auto
    line-height: 1
    padding-bottom: $spacing-micro
    text-decoration: none

    &:hover
      border-bottom: $border-hover

  .btn-forward
    img
      width: 120px
