.title
  &-bar
    -webkit-app-region: drag
    align-items: center
    background-color: $placeholder-red
    display: flex
    justify-content: flex-end
    margin-bottom: $spacing-small + $spacing-micro
    padding: 3px

  &-btn
    background-color: $black
    height: 1.2rem
    margin-right: $spacing-small
    padding: 0
    width: 1.2rem

    img
      height: 1.2rem
      width: 1.2rem

.app-content
  padding: 0 $spacing-base
