.user-list
  flex-grow: 1
  margin-top: $spacing-base

  &__users
    height: 20vh
    overflow: auto
    padding-right: $spacing-micro

  &-profile
    flex-basis: 40%
    flex-grow: 0

  &-header
    color: $placeholder-red
    font-size: 1.2rem
    padding-left: $spacing-micro

    &__sort-hours
      &:hover
        font-weight: 600

      &-active
        font-weight: 600

    &__over-ten
      color: $dark-green

.user
  align-items: center
  display: flex
  justify-content: space-between

  &-left
    align-items: center
    display: flex

  &-name
    background: transparent
    color: $regular-red
    font-size: 1.5rem
    height: auto
    line-height: 1
    padding: $spacing-micro
    text-decoration: none

    &__link
      cursor: pointer
      &:hover
        border-bottom: $border-hover

    &__profile
      font-size: 1.3rem

      &-link
        cursor: pointer
        &:hover
          font-weight: 600

      &-active
        font-weight: 600

      &-over-ten
        color: $dark-green

  &-pin
    align-items: center
    display: flex
    flex-grow: 1
    justify-content: flex-end
    width: 50%

    img
      height: $spacing-small
      margin-right: $spacing-small
      width: $spacing-small

    input
      border-bottom: $border-hover
      color: $regular-red
      font-size: 1rem
      letter-spacing: 4px
      width: 56px

      +placeholder()
        color: $placeholder-red
        letter-spacing: normal
        transition: all 0.3s ease

  &-time-in
    color: $placeholder-red
    margin-right: $spacing-micro
