.user-list
  flex-grow: 1
  margin-top: $spacing-base

  &__options
    align-items: center
    display: flex
    margin-top: $spacing-small

    button
      margin-right: $spacing-small

    &:last-child
      margin-right: 0

    &-text
      color: $regular-red
      font-size: 1.2rem
      margin-right: $spacing-small

  &__users
    height: 40vh
    overflow-y: auto
    padding-right: $spacing-micro

    &-sign-in
      height: 55vh

  &__add-manager
    color: $regular-red
    font-size: 1rem
    line-height: 1
    min-width: 95px
    text-decoration: none

    &:hover
      border-bottom: 1px solid $regular-red

  &-profile
    flex-basis: 45%
    flex-grow: 0
    margin-top: $spacing-micro

    .input-search
      margin: 0
      margin-bottom: $spacing-micro

  &-header
    color: $placeholder-red
    font-size: 1.2rem
    padding-left: $spacing-micro

    &__sort-hours
      &:hover
        font-weight: 600

      &-active
        font-weight: 600

    &__over-ten
      color: $dark-green

.user
  align-items: center
  display: flex
  justify-content: space-between

  &-left
    align-items: center
    display: flex

  &-name
    background: transparent
    color: $regular-red
    font-size: 1.5rem
    height: auto
    line-height: 1
    padding: $spacing-micro
    text-align: left
    text-decoration: none

    &__link
      cursor: pointer
      &:hover
        border-bottom: $border-hover

    &__profile
      flex-basis: 90%
      font-size: 1.3rem
      overflow: hidden
      text-overflow: ellipsis

      &-link
        cursor: pointer
        &:hover
          font-weight: 600

      &-active
        font-weight: 600

      &-over-ten
        color: $dark-green

  &-pin
    align-items: center
    display: flex
    flex-grow: 1
    justify-content: flex-end
    width: 50%

    img
      height: $spacing-small
      margin-right: $spacing-small
      width: $spacing-small

    input
      border-bottom: $border-hover
      color: $regular-red
      font-size: 1rem
      letter-spacing: 4px
      width: 56px

      +placeholder()
        color: $placeholder-red
        letter-spacing: normal
        transition: all 0.3s ease

  &-time-in
    color: $placeholder-red
    margin-right: $spacing-micro
