.visit
  display: flex
  flex-direction: column
  justify-content: center
  width: 100%

  &-container
    align-items: center
    display: flex
    flex-direction: column
    height: 100%
    margin-left: $spacing-small
    margin-top: $spacing-small
    padding-right: $spacing-micro
    width: 100%

    &__inner
      height: 44vh
      overflow-y: auto
      width: 100%

  &-header
    align-items: center
    color: $placeholder-red
    display: flex
    justify-content: space-between
    margin-top: $spacing-micro
    width: 100%

    &__labels
      margin-bottom: $spacing-micro

  &-item
    color: $regular-red
    text-align: center
    width: 24%

    &__container
      color: $placeholder-red

    &__notes
      width: 4%

  &-notes
    color: $regular-red
    margin: 0 auto
    width: 70%

    &__img
      height: $spacing-small
      width: $spacing-small

    &__btn
      padding: 0

    &__input
      background: $input-background
      color: $regular-red
      font-size: 1rem
      height: $spacing-large
      line-height: 1.3
      margin: $spacing-micro auto 0 auto
      padding: 4px
      width: 70%

    &__text
      color: $regular-red
      font-size: 1rem
      height: $spacing-large
      line-height: 1.3
      margin: $spacing-micro auto 0 auto
      padding: 4px
      width: 70%

  &-hours
    background: $input-background
    color: $regular-red
    font-size: 1rem
    line-height: 1
    margin: 0 auto
    padding: 0
    text-align: center
    width: $spacing-medium
