{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "jsx-a11y"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "PRODUCTION": false,
    "DEBUG": true,
    "Bootstrapper": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:jsx-a11y/recommended"
  ],
  parserOptions: {
    ecmaFeatures: {
        jsx: true
    },
    sourceType: "module"
  },
  "rules": {
    "array-bracket-spacing": [2, "never"],
    "arrow-parens": [2, "always"],
    "arrow-spacing": [2, { "before": true, "after": true }],
    "block-spacing": [1, "never"],
    "brace-style": [1, "1tbs", { "allowSingleLine": true  }],
    "camelcase": [2, {"properties": "never"}],
    "comma-dangle": 2,
    "comma-spacing": [1, {"before": false, "after": true}],
    "comma-style": [2, "last"],
    "computed-property-spacing": [2, "never"],
    "constructor-super": 2,
    "curly": 2,
    "default-case": 1,
    "dot-location": [2, "property"],
    "dot-notation": 2,
    "eol-last": 2,
    "eqeqeq": 2,
    "indent": [2, 2],
    "jsx-quotes": [2, "prefer-double"],
    "jsx-a11y/no-autofocus": 0,
    "jsx-a11y/no-onchange": 0,
    "key-spacing": [2, {"beforeColon": false, "afterColon": true}],
    "keyword-spacing": [2, {"before": true, "after": true}],
    "max-len": [1, 140],
    "max-params": [2, 4],
    "new-parens": 2,
    "no-alert": 1,
    "no-caller": 2,
    "no-class-assign": 0,
    "no-const-assign": 2,
    "no-console": 1,
    "no-debugger": 1,
    "no-delete-var": 2,
    "no-dupe-class-members": 2,
    "no-dupe-keys": 2,
    "no-else-return": 2,
    "no-empty": 1,
    "no-eq-null": 2,
    "no-eval": 2,
    "no-extend-native": 2,
    "no-extra-bind": 2,
    "no-fallthrough": 2,
    "no-floating-decimal": 2,
    "no-implied-eval": 2,
    "no-iterator": 2,
    "no-labels": 2,
    "no-lone-blocks": 2,
    "no-lonely-if": 2,
    "no-loop-func": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-multi-spaces": 2,
    "no-multi-str": 2,
    "no-multiple-empty-lines": [1, {"max": 2}],
    "no-new": 2,
    "no-new-func": 2,
    "no-param-reassign": 2,
    "no-redeclare": 2,
    "no-return-assign": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-shadow": 2,
    "no-shadow-restricted-names": 2,
    "no-spaced-func": 2,
    "no-this-before-super": 2,
    "no-trailing-spaces": 2,
    "no-undef": 2,
    "no-undef-init": 2,
    "no-underscore-dangle": 2,
    "no-unneeded-ternary": 2,
    "no-unused-expressions": 2,
    "no-unused-vars": 1,
    "no-use-before-define": 1,
    "no-useless-call": 2,
    "no-useless-concat": 2,
    "no-var": 1,
    "no-void": 2,
    "no-warning-comments": 1,
    "object-curly-spacing": [2, "never"],
    "object-shorthand": 1,
    "operator-assignment": [2, "always"],
    "operator-linebreak": [2, "before", { "overrides": { "&&": "after"  } }],
    "prefer-arrow-callback": 2,
    "prefer-const": 2,
    "prefer-spread": 2,
    "prefer-template": 2,
    "quote-props": [2, "as-needed"],
    "quotes": [2, "single", "avoid-escape"],
    "react/forbid-prop-types": 1,
    "react/jsx-boolean-value": [2, "always"],
    "react/jsx-closing-bracket-location": [1, 'after-props'],
    "react/jsx-curly-spacing": [2, "never"],
    "react/jsx-equals-spacing": 2,
    "react/jsx-indent-props": [2, 2],
    "react/jsx-key": 1,
    "react/jsx-max-props-per-line": [1, {"maximum": 4}],
    "react/jsx-no-bind": 2,
    "react/jsx-no-duplicate-props": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-pascal-case": 2,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-danger": 2,
    "react/no-deprecated": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-unknown-property": 2,
    "react/prefer-es6-class": [2, "always"],
    "react/prop-types": 1,
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": [1, {
      "component": true,
      "html": false
    }],
    "react/sort-comp": 2,
    "react/sort-prop-types": [1, {"callbacksLast": true}],
    "semi": [2, "always"],
    "semi-spacing": [2, {"before": false, "after": true}],
    "space-before-blocks": 2,
    "space-before-function-paren": [2, "never"],
    "space-in-parens": [2, "never"],
    "space-infix-ops": 2,
    "space-unary-ops": [1, { "words": true, "nonwords": false  }],
    "spaced-comment": [2, "always"],
    "strict": 0,
    "wrap-iife": 2
  }
}
