html
  box-sizing: border-box
  font-size: 16px

body
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  background-color: $background-yellow
  color: $regular-red
  font-family: $chalkboard
  line-height: 1.5
  padding: 2rem 2rem 0 2rem
  text-rendering: optimizeLegibility

ul
  line-height: 1.2

  li
    list-style-type: none
    margin-bottom: $spacing-base

img
  max-width: 100%

button, input[type='submit']
  border: 0
  color: $regular-red
  cursor: pointer
  font-family: inherit
  font-size: inherit

em
  font-style: italic

strong
  font-weight: 600

small
  font-size: 75%

input, button, textarea
  background: transparent
  border: 0
  font-family: $chalkboard
  padding: $spacing-micro

  &:active
    outline: none

  &:focus
    outline: none

input, textarea
  +placeholder()
    color: $placeholder-red
    transition: all 0.3s ease

.hide
  display: none

.no-margin
  margin: 0

.spacing-small
  margin-bottom: $spacing-small

.spacing-base
  margin-bottom: $spacing-base

.scroll::-webkit-scrollbar
  width: 14px;

.scroll::-webkit-scrollbar-thumb
  -webkit-border-radius: 7px;
  -webkit-box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.05), inset 1px 1px 0 rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.15)
  border: 4px solid rgba(0, 0, 0, 0)
  height: 6px

.scroll::-webkit-scrollbar-button
  display: none
  height: 0
  width: 0

.scroll::-webkit-scrollbar-corner
  background-color: transparent
