html
  box-sizing: border-box
  font-size: 16px

body
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  background-color: $light-green
  color: $black
  font-family: $chalkboard
  line-height: 1.5
  text-rendering: optimizeLegibility

ul
  line-height: 1.2

  li
    list-style-type: none
    margin-bottom: $spacing-base

img
  max-width: 100%

button, input[type='submit']
  border: 0
  cursor: pointer
  font-family: inherit
  font-size: inherit

em
  font-style: italic

strong
  font-weight: 600

small
  font-size: 75%

input
  background: transparent
  border: 0
  font-family: $chalkboard
  padding: $spacing-micro

.hide
  display: none

.no-margin
  margin: 0

.spacing-small
  margin-bottom: $spacing-small

.spacing-base
  margin-bottom: $spacing-base
