$light-green = #D2FFD8
$dark-green = #255B35
$regular-red = #F40000
$placeholder-red = #EF5151
$action-yellow = #FFEA00
$light-yellow = #FFF798

$black = #444
$white = #ffffff
$gray = lighten($black, 25%)
$light-gray = lighten($gray, 50%)
$dark-gray = darken($gray, 15%)
