$light-green = rgba(210, 255, 216, 0.38)
$highlight-green = rgba(210, 255, 216, 1.00)
$dark-green = rgba(20, 113, 71, 1.00)
$regular-red = rgba(244, 0, 0, 1.00)
$placeholder-red = rgba(239, 81, 81, 1.00)
$action-yellow = rgba(255, 234, 0, 1.00)
$light-yellow = rgba(255, 247, 152, 1.00)
$background-yellow = rgba(237, 236, 218, 1.00)
$input-background = rgba(255, 255, 242, 1.00)

$black = rgba(21, 21, 21, 1.00)
$white = rgba(245, 245, 245, 1.00)
$gray = lighten($black, 25%)
$light-gray = lighten($gray, 50%)
$dark-gray = darken($gray, 15%)

$success-green = #00D868
