// @stylint off

// Good Dog
@font-face
  font-family: 'GoodDog'
  src: url('../assets/fonts/GoodDog.ttf')
  font-weight: 500

// Chalkboard
@font-face
  font-family: 'Chalkboard'
  src: url('../assets/fonts/Chalkboard.ttf')
  font-weight: 500

  // @stylint on
