// @stylint off

// Good Dog
@font-face
  font-family: 'GoodDog'
  src: url('/src/assets/fonts/GoodDog.otf')
  font-weight: 500

// Chalkboard
@font-face
  font-family: 'Chalkboard'
  src: url('/src/assets/fonts/Chalkboard.ttc')
  font-weight: 500

  // @stylint on
